/*google fonts*/

/*
font-family: 'Signika', sans-serif;
font-family: 'Comfortaa', cursive;*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa|Signika');

h1 {
    font-family: 'Signika', sans-serif;
    text-align: center;
    font-size: larger;
    color: #009933;
    text-shadow: 2px 2px black;
    padding-top: 75px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    color: #009933;

}

h4 {
    font-family: 'Comfortaa', cursive;
    text-shadow: 1px 1px #009933;
}

.nav-wrapper {
    background-color: #009933;
    position: relative;
    min-height: 50px;
    border: 1px solid black;
}

.nav-wrapper ul {
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
}


/*containers*/

.full-height {
    min-height: calc(100vh - 454px);
}

.introduction-container {
    min-height: 300px;
    min-width: 100%;
    background-image: url(/static/img/dog-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*carousel*/

.carousel {
    border: 3px solid black;
    border-radius: 25px;
    height: 100px;
    margin: 25px;
}

.carousel-item a {
    margin-top: 15px;
}

/*group pages*/

.card {
    border: 3px solid black;
}

.card-title {
    text-decoration: underline;
    text-align: center;
}

.card-content {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}

span img {
    width: 200px;
    height: 150px
}

form {
    padding: 10px;
}

form a {
    margin: 10px;
    text-align: center;
}

/*footer*/

footer {
    background-color: #009933;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    border: 1px solid black;

}
