{% extends 'base.html' %} {% block content %}

<form method="GET","POST">
  
  <a href="{{url_for('sort_by_size', breed=breed)}}" class="waves-effect waves-light btn btn_small blue">Sort by Size</a>
  <a href="{{url_for('sort_by_exercise_needs', breed=breed)}}" class="waves-effect waves-light btn btn_small blue">Sort by Exercise Needs</a>
  <a href="{{url_for('sort_by_grooming_needs', breed=breed)}}" class="waves-effect waves-light btn btn_small blue">Sort by Grooming Needs</a>
  <a href="{{url_for('sort_by_intelligence', breed=breed)}}" class="waves-effect waves-light btn btn_small blue">Sort by Intelligence</a>
</form>


{% for breed in breed %}

<ul class="collapsible popout">
  <li>
    <div class="collapsible-header"><i class="material-icons">pets</i>{{breed.breed}}</div>
    <div class="collapsible-body"> <span>
                   Pedigree group - {{breed.group}}</br>
                   Size - {{breed.size}}</br>
                   Lifespan - {{breed.lifespan}}</br>
                   Exercise Needs - {{breed.exercise_needs}}</br>
                   Grooming Needs - {{breed.grooming_needs}}</br>
                   Intelligence - {{breed.intelligence}}</br>
                </span></div>
  </li>

</ul>


{% endfor %} {% endblock %}
