{% extends 'base.html' %} {% block content %}

<div class='row'>
  <form method="GET" , "POST">
    <a href="{{url_for('sort_by_size', reverse=reverse)}}" class="waves-effect waves-light btn btn_small purple">Sort by Size<i class="material-icons">import_export</i></a>
    <a href="{{url_for('sort_by_exercise_needs', reverse=reverse)}}" class="waves-effect waves-light btn btn_small green">Sort by Exercise Needs<i class="material-icons">import_export</i></a>
    <a href="{{url_for('sort_by_grooming_needs', reverse=reverse)}}" class="waves-effect waves-light btn btn_small orange">Sort by Grooming Needs<i class="material-icons">import_export</i></a>
    <a href="{{url_for('sort_by_intelligence', reverse=reverse)}}" class="waves-effect waves-light btn btn_small blue">Sort by Intelligence<i class="material-icons">import_export</i></a>
  </form>
</div>



{% for breed in breed %}

<ul class="collapsible popout">
  <li>
    <div class="collapsible-header"><i class="material-icons">pets</i>{{breed.breed}}</div>
    <div class="collapsible-body"> <span>
                   Pedigree group - {{breed.group}}</br>
                   Size - {{breed.size}}</br>
                   Lifespan - {{breed.lifespan}}</br>
                   Exercise Needs - {{breed.exercise_needs}}</br>
                   Grooming Needs - {{breed.grooming_needs}}</br>
                   Intelligence - {{breed.intelligence}}</br>
                </span></div>
  </li>

</ul>


{% endfor %} {% endblock %}
