{% extends 'base.html' %} {% block content %}


<div class="carousel carousel-slider center">
    <div class="carousel-item black-text">
        <!--   <img src='#'>-->
        <h2>Hound Group</h2>
        <div class="carousel-fixed-item center">
            <a href="{{url_for('hound_group')}}" class="btn waves-effect white grey-text darken-text-2">Hound Group</a>
        </div>
    </div>
    <div class="carousel-item black-text" href="#gundog!">
        <!--   <img src='#'>-->
        <h2>Gundog Group</h2>
        <div class="carousel-fixed-item center">
            <a href="{{url_for('gundog_group')}}" class="btn waves-effect white grey-text darken-text-2">Gundog Group</a>
        </div>
    </div>
    <div class="carousel-item black-text" href="#pastoral!">
        <!--   <img src='#'>-->
        <h2>Pastoral Group</h2>
        <div class="carousel-fixed-item center">
            <a href="{{url_for('pastoral_group')}}" class="btn waves-effect white grey-text darken-text-2">Pastoral Group</a>
        </div>
    </div>
    <div class="carousel-item black-text" href="#terrier!">
        <!--   <img src='#'>-->
        <h2>Terrier Group</h2>
        <div class="carousel-fixed-item center">
            <a href="{{url_for('terrier_group')}}" class="btn waves-effect white grey-text darken-text-2">Terrier Group</a>
        </div>
    </div>
    <div class="carousel-item black-text" href="#toy!">
        <!--   <img src='#'>-->
        <h2>Toy Group</h2>
        <div class="carousel-fixed-item center">
            <a href="{{url_for('toy_group')}}" class="btn waves-effect white grey-text darken-text-2">Toy Group</a>
        </div>
    </div>
    <div class="carousel-item black-text" href="#utility!">
        <!--   <img src='#'>-->
        <h2>Utility Group</h2>
        <div class="carousel-fixed-item center">
            <a href="{{url_for('utility_group')}}" class="btn waves-effect white grey-text darken-text-2">Utility Group</a>
        </div>
    </div>
    <div class="carousel-item black-text" href="#working!">
        <!--   <img src='#'>-->
        <h2>Working Group</h2>
        <div class="carousel-fixed-item center">
            <a href="{{url_for('working_group')}}" class="btn waves-effect white grey-text darken-text-2">Working Group</a>
        </div>
    </div>
</div>

{% endblock %}
