{% extends 'base.html' %} {% block content %}

<h2>Edit Dog Breed</h2>
<div class="row">
    <form action="{{ url_for('update_breed', breed_id=breed._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">pets</i>
                <textarea name="breed" id="breed" class="materialize-textarea">{{breed.breed}}</textarea>
                <label>Dog Breed</label>
            </div>
        </div>

        <div class='row'>
            <label>Pedigree Group</label>
            <select id="group" name="group" class="browser-default">
    <option value="{{breed.group}}" selected>{{breed.group}}</option>
                  {% for breed in group %}
                      <option value="{{breed.group}}"selected >{{breed.group}}</option>
                  {% endfor %}
  </select>
        </div>

        <div class='row'>
            <label>Size</label>
            <select id="size" name="size" class="browser-default">
    <option value="{{breed.size}}"selected >{{breed.size}}</option>
    <option value="Tiny">Tiny</option>
    <option value="Small">Small</option>
    <option value="Medium">Medium</option>
    <option value="Large">Large</option>
    <option value="Giant">Giant</option>
  </select>
        </div>

        <div class='row'>
            <label>Exercise Needs</label>
            <select id="exercise_needs" name="exercise_needs" class="browser-default">
    <option value="{{breed.exercise_needs}}"selected >{{breed.exercise_needs}}</option>
     <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
        </div>

        <div class='row'>
            <label>Grooming Needs</label>
            <select id="grooming_needs" name="grooming_needs" class="browser-default">
    <option value="{{breed.grooming_needs}}"selected >{{breed.grooming_needs}}</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
        </div>

        <div class='row'>
            <label>Intelligence</label>
            <select id="intelligence" name="intelligence" class="browser-default">
    <option value="{{breed.intelligence}}"selected >{{breed.intelligence}}</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <textarea name="lifespan" id="lifespan" class="materialize-textarea">{{breed.lifespan}}</textarea>
                <label>Average Lifespan (Years)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">add_a_photo</i>
                <textarea name="picture" id="picture" class="materialize-textarea">{{breed.picture}}</textarea>
                <label>Picture URL</label>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Update Dog
    <i class="material-icons right">update</i>
  </button>
        </div>
    </form>
</div>



{% endblock %}
